<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-dynamiclinks"
      version="2.0.4">

    <name>FirebaseDynamicLinksPlugin</name>
    <description>Cordova plugin for Firebase Dynamic Links</description>
    <license>MIT</license>
    <keywords>cordova</keywords>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=7.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>

    <js-module name="FirebaseDynamicLinks" src="www/FirebaseDynamicLinks.js">
        <merges target="cordova.plugins.firebase.dynamiclinks" />
    </js-module>

    <preference name="APP_DOMAIN" />
    <preference name="PAGE_LINK_DOMAIN" />

    <platform name="android">
        <preference name="FIREBASE_CORE_VERSION" default="16.0.+"/>
        <preference name="FIREBASE_DYNAMIC_LINKS_VERSION" default="17.0.+"/>

        <config-file parent="/*" target="res/xml/config.xml">
            <preference name="DYNAMIC_LINK_URIPREFIX" value="https://$PAGE_LINK_DOMAIN"/>
            <feature name="FirebaseDynamicLinks">
                <param name="android-package" value="by.chemerisuk.cordova.firebase.FirebaseDynamicLinksPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="$APP_DOMAIN" android:scheme="http"/>
                <data android:host="$APP_DOMAIN" android:scheme="https"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="$PAGE_LINK_DOMAIN" android:scheme="http"/>
                <data android:host="$PAGE_LINK_DOMAIN" android:scheme="https"/>
            </intent-filter>
        </config-file>

        <source-file src="src/android/FirebaseDynamicLinksPlugin.java" target-dir="src/by/chemerisuk/cordova/firebase" />

        <dependency id="cordova-support-android-plugin" version="~1.0.0"/>
        <dependency id="cordova-support-google-services" version="^1.2.0"/>

        <framework src="com.google.firebase:firebase-core:$FIREBASE_CORE_VERSION" />
        <framework src="com.google.firebase:firebase-dynamic-links:$FIREBASE_DYNAMIC_LINKS_VERSION" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <preference name="DYNAMIC_LINK_URIPREFIX" value="https://$PAGE_LINK_DOMAIN"/>
            <feature name="FirebaseDynamicLinks">
                <param name="ios-package" value="FirebaseDynamicLinksPlugin" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>BUNDLE_ID</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$PACKAGE_NAME</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <config-file target="*-Debug.plist" parent="com.apple.developer.associated-domains">
            <array>
                <string>applinks:$APP_DOMAIN</string>
                <string>applinks:$PAGE_LINK_DOMAIN</string>
            </array>
        </config-file>

        <config-file target="*-Release.plist" parent="com.apple.developer.associated-domains">
            <array>
                <string>applinks:$APP_DOMAIN</string>
                <string>applinks:$PAGE_LINK_DOMAIN</string>
            </array>
        </config-file>

        <header-file src="src/ios/AppDelegate+FirebaseDynamicLinksPlugin.h" />
        <source-file src="src/ios/AppDelegate+FirebaseDynamicLinksPlugin.m" />
        <header-file src="src/ios/FirebaseDynamicLinksPlugin.h" />
        <source-file src="src/ios/FirebaseDynamicLinksPlugin.m" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                <pod name="Firebase/Core" spec="~> 6.1.0" />
                <pod name="Firebase/DynamicLinks" spec="~> 6.1.0" />
            </pods>
        </podspec>
    </platform>

</plugin>
